<%- include("partials/header.ejs")%> <% var error, title, messages, users, me %>
<!-- <div
  class="container d-flex flex-column justify-content-center align-items-center"
>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Chat Users</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <% if (users && users.length) { %> <% for (let i = 0; i <
            users.length; i++) { %>
            <li class="list-group-item"><%= users[i].username %></li>
            <% } %> <% } else { %>
            <p>No users found.</p>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Chat Window</h5>
        </div>
        <div class="card-body">
          <div class="chat-messages">
            <div class="message">
              <% if (messages && messages.length) { %> <% for (let i = 0; i <
              messages.length; i++) { %>
              <div class="message-content"><%= messages[i].text %></div>
              <% } %> <% } else { %>
              <p>No messages found.</p>
              <% } %>
              <div class="message-timestamp">12:00 PM</div>
            </div>
          </div>
          <div class="input-group mt-3">
            <input
              type="text"
              class="form-control"
              placeholder="Type your message..."
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs")%>
